body {
    background-color: #222222;
    color: ghostwhite;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
}

h3 {
    text-align: center;
}

button {
    margin: 10px;
}

.progressLabel {
    position: absolute;
    left: 50%;
    top: -20px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.form {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

form-buttons {
    margin-left: auto;
    margin-right: auto;
}

label {
    padding: 10px;
}

.jumbotron {
    background-image: url("../images/sparks2.png");
    padding: 25px;
    color: ghostwhite;
}

.jumbotron h1 {
    font-family: kevlarunderwear, Norasi, Verdana, Arial, sans-serif;
    text-shadow: #ffe0db;
}

.subtitle {
    font-size: 0.95em;
}

@font-face {
    font-family: kevlarunderwear;
    src: url(../fonts/kevlarunderwear.otf);
}

