body {
    background-color: #18181a;
    color: ghostwhite;
}

h3 {
    text-align: center;
}

button {
    margin: 10px;
}

.form {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

label {
    width: 100px;
    padding: 10px;
}

.jumbotron {
    background-image: url("../images/sparks.png");
    padding: 30px;
    color: ghostwhite;
    border-bottom: 3px solid #65161f;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-family: kevlarunderwear, Norasi, Verdana, Arial, sans-serif;
    text-shadow: 2px 2px 4px #ffe0db;
}

.subtitle {
    font-size: 0.95em;
    letter-spacing: 1px;
}

a {
    color: #3d82d5;
}

.legendary-grid-item a {
    color: ghostwhite;
}

a:hover {
    text-decoration: none;
    color: #75B7D5;
}

.error, .instruction, .legendary, .progressBar, .section {
    margin-left: auto;
    margin-right: auto;
}

.legendary-name, .legendary {
    display: inline-block;
}

.error {
    padding: 10px;
    font-weight: bold;
}

.legendary-grid-item {
    padding: 15px;
}

.container1 {
    margin-top: 0;
    background-color: #222222;
    border-bottom: 2px solid #65161f;
    border-top: 2px solid #65161f;
    padding: 0;
}

.container2 {
    background-color: rgba(102, 110, 113, 0.2);
    padding: 30px;
}

.container {
    max-width: 1250px !important;
}

.home-button, .logout-button {
    background-color: #111111;
    padding: 15px;
    font-family: kevlarunderwear, verdana, sans-serif;
}

.home-button a,  .logout-button a {
    font-size: 1.1em;
    color: ghostwhite;
}

.home-button a:hover, .logout-button a:hover {
    text-shadow: 2px 2px 2px #eee8e5;
}

.logout-button {
    text-align: right;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.legendary-grid, .legendary-tabs {
    margin-top: 30px;
}

@font-face {
    font-family: kevlarunderwear;
    src: url(../fonts/kevlarunderwear.otf);
}



