div {
    margin: 25px;
}

.row {
    margin: auto;
}

h3 {
    text-align: center;
}

.primaryItem {
    padding: 50px;
    background-color: rgba(50,50,50, .25);
}

#tab1 {
    background-color: cadetblue;
}

#tab2 {
    background-color: coral;
}

#tab3 {
    background-color: forestgreen;
}

#tab4 {
    background-color: maroon;
}