<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Legendsmith</display-name>

  <!-- Tell the server to use form-based authentication. -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error-pages/login-error.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <!-- Protect all pages except sign up -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>dashboard</web-resource-name>
      <url-pattern>/index.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>weapon</web-resource-name>
      <url-pattern>/weapon.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>weapon</web-resource-name>
      <url-pattern>/legendary</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>weapon</web-resource-name>
            <url-pattern>/legendarytask</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

  <!-- security roles -->
  <security-role>
    <role-name>user</role-name>
  </security-role>

  <!-- additional error pages -->
  <error-page>
    <!-- Forbidden directory listing -->
    <error-code>403</error-code>
    <location>/error-pages/unauthorized-error.jsp</location>
  </error-page>
  <error-page>
    <!-- Missing resource -->
    <error-code>404</error-code>
    <location>/error-pages/missing-page-error.jsp</location>
  </error-page>
  <error-page>
    <!-- Uncaught exception -->
    <error-code>500</error-code>
    <location>/error-pages/general-error.jsp</location>
  </error-page>
  <error-page>
    <!-- Unsupported servlet method -->
    <error-code>503</error-code>
    <location>/error-pages/general-error.jsp</location>
  </error-page>

</web-app>
